@import '~@codeinc.mx/sass-helpers-library/sass/main.scss';

@mixin classic-hero(
  $class__name: 'classicHero',
  $config__map: ()
) {

  .#{$class__name} {
    @if( map-value($config__map, full-screen, true) ) {
      width: 100vw;
      height: 100vh;
    }

    @content;

    &__container {
      @if( map-value($config__map, content-centered, true ) ){
        @include center-content;
      }

      @if( map-value($config__map, add-grid, true) ) {
        @include add-grid;
      }
    }

    &__copy {
      @include col-map((
        starts-in: full,
        xs: full,
        sm: full,
        md: half,
        lg: half,
        xl: half
      ));
    }

    &__cta {
      @include col-map((
        starts-in: full,
        xs: full,
        sm: full,
        md: half,
        lg: half,
        xl: half
      ));
    }

  }
}