extends ../pug/classic.pug

//- block heroConfig
//-   - config.className = 'classicHero'
//-   - config.cta = false

block copy
  h1 Escribe aquí tu slogan
  h2
    b en negritas

block callToAction
  a(href='#') Click aquí