@import '~@codeinc.mx/page-template-component/scss/pageTemplate.scss';

@import '../scss/basic.scss';

@include basic-hero('hero') {
  background-color: lightseagreen;
  color: white;

  h2{
    margin-top: 30vh;
    @include col-full();
  }
}