@import '~@codeinc.mx/page-template-component/scss/pageTemplate.scss';
@import '~@codeinc.mx/headings-component/scss/headings.scss';
@include default-headings();

@import '../scss/basic.scss';

@include basic-hero('hero') {
  background-color: lightseagreen;
  color: white;

  &__copy {
    margin-top: 30vh;
  }
}