-config = {}

//- Default Values
- config.className = 'basicHero'
- config.copy = true

block config

div(class=config.className)
  div(class=config.className + "__container")
    if config.copy
      div(class=config.className + "__copy")
        block copy