-config = {}

//- Default Values
- config.className = 'classicHero'
- config.copy = true
- config.cta = true

block heroConfig

div(class=config.className)
  div(class=config.className + "__container")
    if config.copy
      div(class=config.className + "__copy")
        block copy
    if config.cta
      div(class=config.className + "__cta")
        block callToAction